.header {
    border: solid blue 2px;
    background-color: #1F2937;
    color: #F9FAF8;
}

/* figure out how to target links
 {
    color: #E5E7EB;
    font-size: 18px;
}
*/


.info {
    border: solid green 2px;
}

.quote {
    border: solid yellow 2px;
}

.cta {
    border: solid red 2px;
}

.footer {
    border: solid purple 2px;

}